.content {
  border-left: 1px solid blue;
}

section {
  margin-bottom: 20px;
}

.title {
  padding-top: 10px;
}

.project-title {
  font-weight: bold;
}

.important-data {
  font-weight: bold;
}

body {
  padding-bottom: 50px;
}
